.home{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.content{
    position: absolute;
    top: 0;
    width: 100%;
    transition: all .5s;
    pointer-events: all!important;
    opacity: 1!important;

}
