.OwlcarouselPages{
    position: relative;
}
.OwlcarouselPages .imgPages {
    position: relative;
}
.OwlcarouselPages .imgPages img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}


.IconToggle {
    cursor: pointer;
    opacity: .7;
    transition: all .5s;
    color: #fff;
    right: 20px;
    top: 20px;
    position: absolute;
    z-index: 9;
    animation-duration: 20s;
}
.IconToggle:hover {
    opacity: .5;
}